{% extends 'base.html.twig' %}

{% block body %}
    <div>Template DEV</div>
    <form action="" method="post" class="form-example">
    <div class="form-example">
        <label for="search">Recherche: </label>
        <input type="text" name="search" id="search">
    </div>
    <div class="form-example">
        <input type="submit" value="rechercher">
    </div>
    </form>

{% endblock %}
