{% extends 'base.html.twig' %}

{% block title %}Meet My Dev{% endblock %}

{% block body %}
{% include 'home/search.html.twig' %}

<div class="row my-3 cardContainer py-3 px-1 rounded-3">
{% if is_granted('ROLE_DEV') %}


            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
{% endif %}
{% if is_granted('ROLE_COMPANY') %}
    {% for dev in result %}
        <div class="col-sm-6">
            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-title">{{ dev.name }} {{ dev.firstname }}</h5>
                    <p class="card-text">{{ dev.presentation ?? "pas d'informations" }}</p>
                    {% for spe in dev.specialities %}
                        <span> {{ spe.label }} </span>
                    {% endfor %}
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>    
        </div>
    {% endfor %}
{% endif %}
</div>

{% endblock %}
