<form action="" method="post" class="form-example">
	<div class="form-example">
		<label for="search">Recherche:
		</label>
		<input type="text" name="search" id="search">
	</div>
	<div class="form-example">
		<button class="btn btn-light my-3" type="submit">Rechercher</button>
	</div>
</form>
