<div>
	<form action="/" method="post" class="row">
			<input class="rounded-3 p-1 col-8 bg-op" type="text" name="search" id="search">
			<button class="btn btn-light col-4" type="submit">Rechercher</button>
	</form>
</div>
