<form action="" method="post" class="form-example p-2">
	<div class="form-example">
		<label for="search">Recherche :</label>
		<input class="rounded-3 p-1" type="text" name="search" id="search" placeholder="...">
	</div>
	<div class="form-example">
		<button class="btn btn-light my-3" type="submit">Rechercher</button>
	</div>
</form>
