body{
    background: linear-gradient(to bottom,rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('https://startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg');
    color:white;
}

.navbar{
    background: rgba(255, 255, 255, 0.1)
}

.nav-link{
    color: white !important;
    font-weight: 500;
    font-size: 1em;
}

.navbar-brand{
    color: white !important;
    font-weight: 500;
    font-size: 2em;
}
.register_link{
    text-decoration: none;
    color:black !important;

}