{% extends "base.html.twig" %}

{% block body %}
	<div class="container row">
        <div class="col-6">
            <h1 class="text-center my-3">Qui sommes-nous ?</h1>
            <div class="text-center mx-auto">
                <p>Bienvenue sur <b>Meet my Dev</b> le site qui vous permet de trouver le développeur parfait pour votre entreprise sans avoir à subir des interviews interminables.</p>
                <p>Nous nous sommes rendu compte au fil du temps que les démarches pour recruter côté entreprise, et celles pour postuler côté candidat pouvaient être longues, laborieuses, et aboutir à du découragement. Les entreprises parfois, par manque de temps ou d'autres raisons, ne répondent pas ou tardivement, les candidats sont parfois soumis à des sélections arbitraires, ne laissant aucune chance à la personne pour montrer ses motivations.</p>
                <p>Ayant été nous même confrontés à ces problématiques, nous avions envie de casser les codes et proposer une application pour faciliter au maximum l'interaction entre développeurs et entreprises. </p>
                <p>Nous avons travaillé dur pour créer une expérience utilisateur intuitive et agréable pour tous nos utilisateurs, qu'ils soient des entreprises à la recherche de talents ou des développeurs à la recherche d'une nouvelle expérience.</p>
                <p>Nous croyons que chaque développeur a quelque chose d'unique à offrir, et nous sommes là pour aider les entreprises à trouver cette personne spéciale qui fera toute la différence dans leur projet.</p>
                <p>Alors si vous êtes à la recherche d'un développeur parfait pour rejoindre votre équipe, ou si vous êtes un développeur à la recherche de votre prochain défi, rejoignez-nous sur Meet my dev et meet YOUR dev ! </p>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <img src="{{ asset('images/you.png') }}" class="img-fluid" alt="Image">
        </div>
	</div>
{% endblock %}