<footer class="navbar navbar-light py-3">
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarResponsive">
        Footer avec les infos de contact, et les mentions légales.
    </div>
</footer>